<header class="main-header">
    <div class="header-logo">
        <a href="/" class="remove-a-style">
            <span style="color: #fbbf58;">&lt;</span> CodeMania19 <span style="color: #fbbf58;">/&gt;</span>
        </a>
    </div>

    <div class = "auth-links">
            <% if(locals.user){ %>
                <% if(locals.user.avatar) { %>
                    <div class="header-profile-photo"><img src="<%= locals.user.avatar %>" alt="<%= locals.user.name %>"></div>
                <% }else{ %>
                    <div class="header-profile-photo"><img src="/images/default-avatar.jpg" alt="<%= locals.user.name %>"></div>
                <% } %>
                <div class="link1"> <a href="/users/profile/<%= locals.user.id %>" class="remove-a-style"><%= user.name %></a> </div>
                <div class="link2"> <a href="/users/sign-out" class="remove-a-style">Sign Out</a> </div>    
            <% }else{ %>
                <div class="link1" > <a href="/users/sign-in" class="remove-a-style">Sign In</a> </div>
                <div class="link2"> <a href="/users/sign-up" class="remove-a-style">Sign Up</a> </div>
            <% } %>
    </div>

</header>