<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/comment.css">
<div class="home-container">
    <section class="feeds-posts">
        <!-- <div>Posts</div> -->
        <% if(locals.user){ %>
            <div class="write-post-container">
                <div class="user-details">
                    <% if(locals.user.avatar) { %>
                        <img class="user-post-image" src="<%= locals.user.avatar %>" alt="<%= locals.user.name %>">
                    <% }else{ %>
                        <img class="user-post-image" src="/images/default-avatar.jpg" alt="<%= locals.user.name %>">
                    <% } %>
                        <div>
                            <p><%= locals.user.name %></p>
                            <small>Public</small>
                        </div>
                </div>
                
                <div class="new-post-form">
                    <form action="/posts/create" id="new-post-form" method="POST">
                        <textarea name="content" rows="3" placeholder="What's on your mind ?" maxLength="200" required></textarea>
                        <div class="submit-post-button"><input type="submit" value="Post"></div>
                    </form>
                </div>
            </div>  
        <%} %>
    
        <div class="posts-list-container" id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <%-include('_post')-%>
                <% } %>
            </ul>
        </div>
    </section>
    
    <section class="aside-section">
        <div class="friends-list-heading">Friends List</div>
            <section class="user-friends">
            
            <div class="friends-list-container">
            <% for(f of friends){ %>
                
                <div class="friends-list-item">
                    <% if(f.avatar) { %>
                        <div class="friends-photo"><img src="<%= f.avatar %>" alt="<%= f.name %>"></div>
                    <% }else{ %>
                        <div class="friends-photo"><img src="/images/default-avatar.jpg" alt="<%= f.name %>"></div>
                    <% } %>
                    <div class="friends-name">
                        <a href="/users/profile/<%= f.id %>"><%= f.name %></a>
                    </div>    
                </div>
                

            <% } %>


            
            </div>
            
        </section>

        <!-- <section id="all-users">
            <h4>Users</h4>
            <% for(u of all_users){ %>
                <p>
                    <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                </p>    
            <% } %>
        </section> -->

        <%-include('_chat');-%>

    </section>

</div>


<script src="/js/hide_comments.js"></script>
<script src="/js/likes.js"></script>
<script src="/js/home-post-comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<%if(locals.user){ %>
    <script>
        new ChatEngine('chat-container', '<%= locals.user._id %>');
    </script>    
<% }%>
