<link rel="stylesheet" href="/css/user_profile.css">
<div class="profile-box">
    <div class="profile-content">

        <div class="image-and-name">
            <% if(profile_user.avatar) { %>
                <div class="profile-image-container"><img src = "<%= profile_user.avatar %>" alt="<%= profile_user.name %>"></div> 
            <% }else{ %>
                <div class="profile-image-container"><img src = "/images/default-avatar.jpg" alt="<%= profile_user.name %>"></div>
            <% } %>
            <div class="profile-name">Hi! <%= profile_user.name %></div>
        </div>

        <% if(user.id == profile_user.id){ %>
            <form action="/users/update-avatar/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
                <input type="file" name="avatar" placeholder="Profile Picture">
                <input type="submit" value="update">
            </form>
        <% } %>


        
        <p>Your email id is: <%= profile_user.email %></p>

        <% if(user.id == profile_user.id){ %>
                <!-- if user matches then show the form  -->
                <form action="/users/update/<%= profile_user.id %>" method="POST">
                    <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                    <input type="text" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
                    <input type="submit" value="update">
                </form>
        <% } %>

        <% if(user.id != profile_user.id){ %>
            <% if(profile_user.friendships.findIndex((f) => ((f.from_user==user.id) || (f.to_user==user.id))) == -1){ %>
                <div id="friend-button-container">
                    <a href="/friends/add/<%= profile_user.id%>"><button id="friend-button">Add Friend</button></a>
                </div>    
            <% }else{ %>
                <div id="friend-button-container">
                    <a href="/friends/remove/<%= profile_user.id%>"><button id="friend-button">Remove Friend</button></a>
                </div>
            <% } %>
                
        <% } %>

    </div>
</div>

<script src="/js/friends.js"></script>


